{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Green Piece Store Editar Producto</title>
    <!--JavaScript-->
    <script src="../../../static/libs/jquery.min.js"></script>
    <script src="../../../static/libs/jquery.validate.min.js"></script>
    <script src="../../../static/libs/bootstrap.min.js"></script>
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="header">

        <div class="logo">
            <a href="index"><img class="logo" src="{% static 'img/logo-temporal.png' %}" alt="LOGO"></a>
            <a id="text-logo" href="index">
                <h2 id="name">GreenPiece <br> Store</h2>
            </a>
        </div>

        <div class="nav">
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="juegos_mesa">Juegos de Mesa</a></li>
                    <li class="nav-item"><a class="nav-link" href="articulos_geeks">Articulos Geek</a></li>
                    <li class="nav-item"><a class="nav-link" href="formulario">Ingrese datos de envio</a></li>
                </ul>
            </nav>

        </div>
        <div class="nav-bar">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>


    </div>
    <form method="POST">
        {{ form}} {% csrf_token%}
        <button type="submit">Editar</button>
    </form>
</body>

</html>