{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Green Piece Store - Formulario</title>
    <!--JavaScript-->
    <script src="../../../static/libs/jquery.min.js"></script>
    <script src="../../../static/libs/jquery.validate.min.js"></script>
    <script src="../../../static/libs/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="header">

        <div class="logo">
            <a href="index"><img class="logo" src="{% static 'img/logo-temporal.png' %}" alt="LOGO"></a>
            <a id="text-logo" href="index">
                <h2 id="name">GreenPiece <br> Store</h2>
            </a>
        </div>

        <div class="nav">
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="juegos_mesa">Juegos de Mesa</a></li>
                    <li class="nav-item"><a class="nav-link" href="articulos_geeks">Articulos Geek</a></li>
                    <li class="nav-item"><a class="nav-link" href="formulario">Ingrese datos de envio</a></li>
                </ul>
            </nav>


        </div>

        <div>
            {% if user.is_authenticated %} {% if request.user.is_superuser %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Administrar Productos
                        </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="/listarProductos">Listar Todos</a>
                    <a class="dropdown-item" href="agregarProducto">Agregar Producto</a>
                    <a class="dropdown-item" href="listarProductos">Listar Productos</a>
                </div>
            </div>
            {% else %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Listar Productos
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="/listarProductos/Juego_de_mesa">Por Juegos de mesa</a>
                    <a class="dropdown-item" href="/listarProductos/Articulo_Geek">Por Articulo Geek</a>
                </div>
            </div> {% endif %} {% else %}{% endif %}
        </div>

        <div>
            {% if user.is_authenticated %} Bienvenido {{ user.username }}!
            <p><a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}">Logout</a></p>
            {% else %}
            <p>No estas logeado</p>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}">Login</a> {% endif %}
        </div>

    </div>



    <div class="container-form">
        <form method="POST" id="formulario">
            {% csrf_token %}
            <table class="table table-hover" id="table-formulario">
                <tr>
                    <td><label>Nombre Completo</label></td>
                    <td><input class="form-control" type="text" name="nombre_completo" id="txtNombre" required placeholder="Ingrese su Nombre Completo"></td>
                </tr>
                <tr>
                    <td><label>Rut</label></td>
                    <td><input class="form-control" type="text" id="rut" name="rut" required oninput="checkRut(this)" placeholder="Ingrese su RUT"></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input class="form-control" required type="email" name="email" id="txtemail" placeholder="Ingrese su Email"></td>
                </tr>
                <tr>
                    <td><label>Fecha de Nacimiento</label></td>
                    <td><input class="form-control" required max="2001-12-31" type="date" name="fecha_nacimiento" id="txtDate"></td>
                </tr>
                <tr>
                    <td><label>Telefono de Contacto</label></td>
                    <td><input class="form-control" type="tel" name="telefono_contacto" id="txtTelefono" required pattern='[\+]\d{3}\d{8}' placeholder="Telefono Ej: +56944556677"></td>
                </tr>
                <tr>
                    <td><label>Region</label></td>
                    <td>
                        <select class="custom-select" id="country" name="region" required>
                        <option value="" selected disabled>----- Seleccione una Region -----</option>
                        <option value="Región Metropolitana de Santiago">Región Metropolitana de Santiago</option>
                        <option value="Arica y Parinacota">Arica y Parinacota</option>
                        <option value="Tarapacá">Tarapacá</option>
                        <option value="Antofagasta">Antofagasta</option>
                        <option value="Atacama">Atacama</option>
                        <option value="Coquimbo">Coquimbo</option>
                        <option value="Valparaíso">Valparaíso</option>
                        <option value="Región del Libertador Gral. Bernardo O’Higgins">Región del Libertador Gral. Bernardo O’Higgins</option>
                        <option value="Región del Maule">Región del Maule</option>
                        <option value="Región de Ñuble">Región de Ñuble</option>
                        <option value="Región del Biobío">Región del Biobío</option>
                        <option value="Región de la Araucanía">Región de la Araucanía</option>
                        <option value="Región de Los Ríos">Región de Los Ríos</option>
                        <option value="Región de Los Lagos">Región de Los Lagos</option>
                        <option value="Región Aysén del Gral. Carlos Ibáñez del Campo">Región Aysén del Gral. Carlos Ibáñez del Campo</option>
                        <option value="Región de Magallanes y de la Antártica Chilena">Región de Magallanes y de la Antártica Chilena</option>
                      </select></td>
                </tr>
                <tr>
                    <td><label>Comuna</label></td>
                    <td><select class="custom-select" id="location" name="comuna"></select></td>
                </tr>
                <tr>
                    <td>Direccion</td>
                    <td><input class="form-control" type="text" name="direccion" id="txtDireccion" required placeholder="Ingrese su Direccion"></td>
                </tr>
                <tr>
                    <td><label>Vivienda</label></td>
                    <td><select required class="custom-select" id="vivienda" name="vivienda">
                        <option value="" selected disabled>----- Seleccione un tipo de Vivienda -----</option>
                        <option value="1">Casa con patio grande</option>
                        <option value="2">Casa con patio pequeño</option>
                        <option value="3">Casa sin patio</option>
                        <option value="4">Departamento</option>
                    </select></td>
                </tr>
            </table>

            <button type="submit" name="btnEnviar" class="btn btn-primary">Guardar</button>
            <button type="reset" class="btn btn-primary">Limpiar</button>

        </form>


    </div>
    <br><br><br>
    <footer id="fondo">
        <div id="rss">
            <img id="rss_img1" src="../../../static/img/Logo-face.png" alt="">
            <img id="rss_img2" src="../../../static/img/Logo-insta.png" alt="">
            <img id="rss_img3" src="../../../static/img/Logo-wsp.png" alt="">
        </div>
        <div id="derechos">
            <p>Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="../../../static/js/validador.js"></script>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>