{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Green Piece Store</title>
    <!--JavaScript-->
    <script src="../../../static/libs/jquery.min.js"></script>
    <script src="../../../static/libs/jquery.validate.min.js"></script>
    <script src="../../../static/libs/bootstrap.min.js"></script>
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="header">

        <div class="logo">
            <a href="index"><img class="logo" src="{% static 'img/logo-temporal.png' %}" alt="LOGO"></a>
            <a id="text-logo" href="index">
                <h2 id="name">GreenPiece <br> Store</h2>
            </a>
        </div>

        <div class="nav">
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="juegos_mesa">Juegos de Mesa</a></li>
                    <li class="nav-item"><a class="nav-link" href="articulos_geeks">Articulos Geek</a></li>
                    <li class="nav-item"><a class="nav-link" href="formulario">Ingrese datos de envio</a></li>
                </ul>
            </nav>


        </div>

        <div>
            {% if user.is_authenticated %} Bienvenido {{ user.username }}!
            <p><a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}">logout</a></p>
            {% else %}
            <p>No estas logeado</p>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}">Login</a> {% endif %}
        </div>


    </div>
    <div>
        <div id="container-carrusel" class="row justify-content-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">

                        <img class="imagen" src="../../../static/img/travian1.png" alt="">


                        <div class="carousel-text">
                            <div class="carousel-caption d-none d-md-block" id="text-carousel1">
                                <h1>Bienvenidos</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">


                        <img class="imagen" src="../../../static/img/carousel-game.png" alt="">

                        <div class="carousel-text">
                            <div class="carousel-caption d-none d-md-block" id="text-carousel2">
                                <h1>Juegos de Mesa</h1>
                                <p>Una variedad de juegos para disfrutar con amigos</p>
                                <p><a class="btn btn-lg btn-primary" href="juegos_mesa" role="button">Ir a catalogo</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">

                        <img class="imagen" src="../../../static/img/carousel-geek.png" alt="">

                        <div class="carousel-text">
                            <div class="carousel-caption d-none d-md-block" id="text-carousel3">
                                <h1>Articulos Geek</h1>
                                <p>Para decorar tu casa de la forma mas Geek</p>
                                <p><a class="btn btn-lg btn-primary" href="articulos_geeks" role="button">Ir a catalogo</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <div class="container-juegos">
            <h3 id="banner1">Juegos mas vendidos este mes:</h3>

            <div class="container-jmv-superior">
                <div class="jmv">
                    <img src="../../../static/img/cthulu.jpg" alt="">
                    <h3>Juego cartas fluxx Cthulhu</h3>
                    <p><b>Comentario:</b> Hace tiempo</p>
                    <p>estaba buscando un juego de este,</p>
                    <p>tipo ahora puedo jugar con</p>
                    <p>mis amigos.</p>
                    <p>-Alexander Marin</p>

                </div>
                <div class="jmv">
                    <img src="../../../static/img/jmpokemon.jpg" alt="">
                    <h3>Pokemon TCG</h3>
                    <h3>Melmetal -GX Box</h3>
                    <p><b>Comentario:</b> Hace tiempo</p>
                    <p>estaba buscando esta edicion,</p>
                    <p>ahora puedo jugar parejo con </p>
                    <p>mis amigos.</p>
                    <p>- Juanito Perez</p>

                </div>
                <div class="jmv">
                    <img src="../../../static/img/bb.jpg" alt="">
                    <h3>Juego de mesa de Breaking Bad</h3>
                    <p><b>Comentario:</b> </p>
                    <p>Soy un gran fanatico de la serie, apenas</p>
                    <p>supe que tenian un juego me apure a comprarlo</p>
                    <p>y me encanto igual que la serie</p>
                    <p>-Andres Gonzalez</p>

                </div>



            </div>


        </div>

        <h3 id="banner2">Accesorios geek mas vendidos:</h3>
        <div class="container-jmv-inferior">
            <div class="jmv">
                <img src="../../../static/img/bullet.jpg" alt="">
                <h3>Peluche Bullet </h3>
                <p><b>Comentario:</b>
                    <p>Soy un gran fanatico de todos los juegos de mario,</p>
                    <p>y cada vez que veo un peluche de este tipo no</p>
                    <p>puedo evitar comprarlo</p>
                    <p>- Juanito Perez</p>

            </div>
            <div class="jmv">
                <img src="../../../static/img/ppika.jpg" alt="">
                <h3>Peluche Pikachu</h3>
                <p><b>Comentario:</b> Hace tiempo</p>
                <p>este peluche, es uno de mis pokemon favoritos</p>
                <p>- Andrea Molina</p>

            </div>
            <div class="jmv">
                <img src="../../../static/img/yugi.jpg" alt="">
                <h3>Figura coleccionable de Yugi </h3>

                <p><b>Comentario:</b> Hace tiempo</p>
                <p>estaba buscando esta figura,</p>
                <p>era el unico que me faltaba para mi colecion,</p>
                <p>y a hora esta completa</p>
                <p>- Juanito Perez</p>

            </div>

        </div>

    </div>
    <br><br><br>
    <footer id="fondo">
        <div id="rss">
            <img id="rss_img1" src="../../../static/img/Logo-face.png" alt="">
            <img id="rss_img2" src="../../../static/img/Logo-insta.png" alt="">
            <img id="rss_img3" src="../../../static/img/Logo-wsp.png" alt="">
        </div>
        <div id="derechos">
            <p>Todos los derechos reservados</p>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>